mixin additional-info()

  section.s-additional-offers
    .container
      .s-h2.s-additional-offers__title Что дополнительно мы можем Вам предложить?
      .row
        .col-.col-md-6
          .s-additional-offers__item
            span Бесплатная разработка КМД
        .col-.col-md-6
          .s-additional-offers__item.s-additional-offers__item--third
            span Демонтаж зданий и сооружений
      .row
        .col-.col-md-6
          .s-additional-offers__item.s-additional-offers__item--second
            span Комплектация дополнительными строительными материалами
        .col-.col-md-6
          .s-additional-offers__item.s-additional-offers__item--fourth
            span Доставка в любую точку мира