.s-additional-offers {

  &__title {
    font-size: 30px;
    font-weight: normal;
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  &__item {
    font-size: 20px;
    position: relative;
    margin-bottom: 30px;
    padding-left: 100px;
    min-height: 69px;
    display: flex;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      background-image: url(../img/ic1.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 80px;
      height: 69px;
      top: 50%;
      left: 0;
      transform: translate3d(0,-50%,0);
    }

    &--second {

      &::before {
        background-image: url(../img/ic2.png);
      }
    }

    &--third {

      &::before {
        background-image: url(../img/ic3.png);
      }
    }

    &--fourth {

      &::before {
        background-image: url(../img/ic4.png);
      }
    }
  }
}