.s-social-list {

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      margin: 0;

      &:not(:last-child) {
        margin-right: 0.25rem;
      }

      a {
        color: currentColor;
        display: block;
      }
    }
  }
}