mixin social()

  .s-social-list
    ul.s-social-list__list
      li
        a(href='/')
          .vk
      li
        a(href='/')
          .fb
      li
        a(href='/')
          .tw
      li
        a(href='/')
          .gp