mixin feedback()

  .s-feedback
    .container
      .row
        .col-.col-md-4.col-lg-5
          .s-feedback__info
            .s-h2.s-feedback__title Остались вопросы?
            ul.s-feedback__info-list
              li.s-feedback__info-item
                span.s-feedback__desc Звоните на телефон
                span.s-feedback__icon.zayavka-phone
                a(href='tel:88123096866') +7 812 309 68 66
              li.s-feedback__info-item
                span.s-feedback__desc Или напишите нам на почту
                span.s-feedback__icon.e-mail
                a(href='mailto:zakaz@pk-rm.ru') zakaz@pk-rm.ru
        .col-.col-md-8.col-lg-7
          +form()
            +fieldset('Заполните форму и мы ответим Вам!')
              .row
                .col-12
                  +field-text({
                    attrs: {
                      placeholder: 'Введите имя'
                    }
                  }).s-field-text--name
                  +field-text({
                    attrs: {
                      placeholder: 'Введите телефон'
                    }
                  }).s-field-text--phone
                  +field-text({
                    isTextarea: true,
                    mods: '',
                    attrs: {
                      name: 'test',
                      placeholder: 'Текст сообщения',
                    }
                  })
                .col-12
                  .row
                    .col-12.col-md-4
                      .s-field-file
                        label.s-field-file__input-wrap
                          input.s-field-file__input(type='file')
                          .s-field-file__image
                    .col-12.col-md-8
                      +field-actions()
                        +btn('Отправить сообщение')