.s-feedback {
  background-color: $color--primary;
  background-image: url(../img/vopros-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;

  &__info {
    text-align: center;

    @media (min-width: $screen-md) {
      text-align: left;
    }
  }

  &__info-item {
    margin: 0;
    margin-bottom: 2rem;

    a {
      font-size: 21px;
      line-height: 24px;
      color: currentColor;
      font-weight: 600;
      vertical-align: middle;
      display: inline-block;

      @media (min-width: $screen-sm) {
        font-size: 37px;
        line-height: 40px;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 37px;
    line-height: 60px;
    color: #fff;
  }

  &__desc {
    display: block;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 15px;

    @media (min-width: $screen-sm) {
      font-size: 24px;
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  .s-field-actions {
    display: flex;
    justify-content: flex-end;
  }

  .s-form {
    background-color: #fff;
    padding: 15px 20px 15px 20px;
    border-radius: 2px;
    color: #000;
    max-width: 100%;

    @media (min-width: $screen-md) {
      padding: 25px 30px 25px 30px;
    }
  }

  .s-form__legend {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 18px;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 24px;
    }
  }

  .s-field-text {
    margin: 0;
  }

  .s-field-file {
    width: 50%;
    padding-right: 10px;

    &__input-wrap {
      display: inline-block;
    }

    &__name-text {
      color: #000;
      width: auto;

      &::before {
        margin-right: 0;
        border-right: 0;
      }
    }
  }

  .s-field-text__input {
    margin: 0 0 15px 0;
    border: 1px solid rgba(154,154,154,1);
    background-color: #fff;
    height: 40px;
    font-size: 13px;
    border-radius: 1px;
    padding: 6px 12px;
  }

  .s-field-text--name .s-field-text__input {
    background-image: url(../img/zayavka_name_ico.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
  }

  .s-field-text--phone .s-field-text__input {
    background-image: url(../img/zayavka_phone_ico.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
  }

  .s-field-text--e-mail .s-field-text__input {
    background-image: url(../img/zayavka_email_ico.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
  }
}