-
  var mainMenu = [
    {
      "id": "0",
      "name": "Главная",
      "url": "/"
    },
    {
      "id": "10",
      "name": "О компании",
      "url": "/"
    },
    {
      "id": "20",
      "name": "Продукция",
      "url": "/",
      "childs": [
        {
          "id": "20-0",
          "name": "Черный металлопрокат",
          "url": "/"
        },
        {
          "id": "20-10",
          "name": "Нержавеющий металлопрокат",
          "url": "/"
        },
        {
          "id": "20-20",
          "name": "Цветной металлопрокат",
          "url": "/"
        },
        {
          "id": "20-30",
          "name": "Трубы ППУ",
          "url": "/"
        },
        {
          "id": "20-40",
          "name": "Сетка сварная",
          "url": "/"
        },
        {
          "id": "20-50",
          "name": "Профнастил",
          "url": "/"
        },
        {
          "id": "20-60",
          "name": "Металлоконструкции",
          "url": "/"
        },
        {
          "id": "20-70",
          "name": "Услуги",
          "url": "/"
        },
        {
          "id": "20-80",
          "name": "Трубы",
          "url": "/"
        },
      ]
    },
    {
      "id": "30",
      "name": "Металлообработка",
      "url": "/",
      "childs": [
        {
          "id": "30-0",
          "name": "Гибка металлов",
          "url": "/"
        },
        {
          "id": "30-10",
          "name": "Гибка арматуры",
          "url": "/"
        },
        {
          "id": "30-20",
          "name": "Рубка гильотиной",
          "url": "/"
        },
        {
          "id": "30-30",
          "name": "Перфорирование листов",
          "url": "/"
        },
        {
          "id": "30-40",
          "name": "Оцинкование",
          "url": "/"
        },
        {
          "id": "30-50",
          "name": "Порошкаовая покраска",
          "url": "/"
        },
        {
          "id": "30-60",
          "name": "Фрезерные работы",
          "url": "/"
        },
        {
          "id": "30-70",
          "name": "Токарная обработка",
          "url": "/"
        },
        {
          "id": "30-80",
          "name": "Поперечная резка рулонов",
          "url": "/"
        },
        {
          "id": "30-90",
          "name": "Плазменная резка",
          "url": "/"
        },
      ]
    },
    {
      "id": "40",
      "name": "Прайс-лист",
      "url": "/"
    },
    {
      "id": "50",
      "name": "Логистика",
      "url": "/"
    },
    {
      "id": "60",
      "name": "Расчет",
      "url": "/"
    },
    {
      "id": "60",
      "name": "Контакты",
      "url": "/"
    }
  ];
