.s-main-nav {
  $block-name:                &;

  background-color: $color--primary;
  position: relative;
  z-index: 10;

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;

    @media (max-width: ($screen-sm - 1)) {

      .js & {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;

        &--lvl-2 {
          max-height: none;
        }
      }

      .js #{$block-name}--open & {
        max-height: 1000px;
        transition: max-height 0.6s;

        &--lvl-2 {
          max-height: none;
        }
      }
    }

    @media (min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &--lvl-2 {
        display: block;
        background-color: $color--primary;
      }

      &--lvl-3 {
        display: block;
      }
    }
  }

  &__item {
    position: relative;
    padding: 10px 0;
    margin-left: 0;

    &--lvl-2 {
      padding: 5px 0;
    }

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    display: block;
    padding: 0;
    text-decoration: none;
    border-bottom: 2px dotted currentColor;
    color: #fff;
    margin: 8px 0;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $color--accent;
    }

    &--lvl-2 {
      min-width: 270px;
      border-bottom: none;
      padding-left: 20px;

      @media (max-width: ($screen-sm - 1)) {
        padding-left: 2em;
      }
    }

    &--lvl-3 {
      min-width: 270px;

      @media (max-width: ($screen-sm - 1)) {
        padding-left: 3em;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $screen-sm) {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: -20px;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.3s;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          height: auto;
          overflow: visible;
          opacity: 1;
        }
      }
    }

    &--lvl-3 {

      @media (min-width: $screen-sm) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.3s;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          height: auto;
          overflow: visible;
          opacity: 1;
        }
      }
    }
  }

  &__toggler {
    display: inline-block;
    border: none;
    padding: 0;
    background: none;

    @media (min-width: $screen-sm) {
      display: none;
    }

    .no-js & {
      display: none;
    }
  }
}