.s-customers-choose-us {
  padding-top: 40px;

  &__problems-title {
    font-weight: 500;
    font-size: 22px;
  }

  &__solutions-title {
    font-size: 34px;
    font-weight: 500;
  }

  &__problem,
  &__solution {
    font-size: 20px;
    color: #333;
  }

  &__solution {

    @media (max-width: ($screen-md - 1)) {
      margin-top: 1rem;
    }
  }

  &__arrow {

    img {
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}