mixin customers-choose-us()

  .s-customers-choose-us
    .container

      .row
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-5
          .s-customers-choose-us__problems-title Какие проблемы существуют при изготовлении металлоконструкций?
        .col-md-5.offset-md-2
          .s-customers-choose-us__solutions-title Почему выбирают нас?

      .row.align-items-center
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-5
          .s-customers-choose-us__problem Некачественный металлопрокат
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-2
          .s-customers-choose-us__arrow
            img(src='img/right-arrow-button.png', alt='')
        .col-md-5
          .s-customers-choose-us__solution Весь металлопрокат хранится на закрытом складе, соответствует ГОСТу
      .row.align-items-center
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-5
          .s-customers-choose-us__problem Разработка чертежей, изготовление и монтаж в разных компаниях
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-2
          .s-customers-choose-us__arrow
            img(src='img/right-arrow-button.png', alt='')
        .col-md-5
          .s-customers-choose-us__solution Ведение объекта от чертежа до сдачи в эксплуатацию
      .row.align-items-center
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-5
          .s-customers-choose-us__problem Нарушение сроков изготовления и сдачи заказа
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-2
          .s-customers-choose-us__arrow
            img(src='img/right-arrow-button.png', alt='')
        .col-md-5
          .s-customers-choose-us__solution Сроки регламентированы условиями договора
      .row.align-items-center
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-5
          .s-customers-choose-us__problem Увеличение цены в процессе выполнения работ
        .d-none.d-md-block.d-lg-block.d-xl-block.col-md-2
          .s-customers-choose-us__arrow
            img(src='img/right-arrow-button.png', alt='')
        .col-md-5
          .s-customers-choose-us__solution Фиксированная цена сохраняется на протяжении всего времени действия договора