mixin promo()

  mixin actions()
    .s-promo__actions
      .container
        .row.justify-content-end
          .col-
            +btn('Выбрать')

  section.s-promo
    .swiper-container.s-promo__slider
      .swiper-wrapper
        .swiper-slide
          .s-promo__item
            .s-promo__title
              .container
                .row.justify-content-start
                  .col-.align-self-start
                    p.fz-55.fw-lighter.lh-27 Весь ассортимент
                    p.fw-bold.fz-44.lh-22.uppercase металлопроката
            .s-promo__desc
              .container
                .row.justify-content-end
                  .col-.align-self-end
                    p.fz-44.lh-22.fw-lighter Поставка
                    p.fw-bold.fz-36.lh-18.uppercase в день обращения
            +actions()
          .s-promo__cover
            img(src='https://metalloprokatspb.com/images/blocks/slider/slides9.jpg', alt='/')
        .swiper-slide
          .s-promo__item
            .s-promo__title
              .container
                p.fz-39.fw-bold.lh-23.uppercase Листовой прокат
            .s-promo__desc
              .container
                .row.justify-content-end
                  .col-.align-self-end
                    p.fz-37.fw-bold.lh-23.uppercase Резка в размер
            +actions()
          .s-promo__cover
            img(src='https://metalloprokatspb.com/images/blocks/slider/slides6.jpg', alt='/')
        .swiper-slide
          .s-promo__item
            .s-promo__title
              .container
                p.fz-39.fw-bold.lh-23.uppercase Трубный прокат
            .s-promo__desc
              .container
                .row.justify-content-end
                  .col-.align-self-end
                    p.uppercase.fz-23.fw-lighter.lh-12 Большой выбор труб на складе
                    p.uppercase.fz-39.fw-bold.lh-20 Скидка при заказе
                    p.uppercase.fz20.fw-bold.lh10 от 5 тонн
            +actions()
          .s-promo__cover
            img(src='https://metalloprokatspb.com/images/blocks/slider/slides8.jpg', alt='/')
        .swiper-slide
          .s-promo__item
            .s-promo__title
              .container
                p.fz-39.fw-bold.lh-23 Трубы Б/У
            .s-promo__desc
              .container
                .row.justify-content-end
                  .col-.align-self-end
                    p.fz-23.fw-lighter.lh-12.uppercase Всегда в наличии
                    p.fz-39.fw-bold.lh-20 Трубы Ø от 79 мм
                    p.fz-39.fw-bold.lh-20 до 1920 мм
            +actions()
          .s-promo__cover
            img(src='https://metalloprokatspb.com/images/blocks/slider/slides7.jpg', alt='/')
        .swiper-slide
          .s-promo__item
            .s-promo__title
              .container
                p.fz-39.fw-bold.lh-23.uppercase Изготовление и монтаж
                p.fz-39.fw-bold.lh-23.uppercase Металлоконструкций
            .s-promo__desc
              .container
                .row.justify-content-end
                  .col-.align-self-end
                    p.fz-37.fw-bold.lh-23.uppercase Разработка КМД
            +actions()
          .s-promo__cover
            img(src='https://metalloprokatspb.com/images/blocks/slider/slides3.jpg', alt='/')
        .swiper-slide
          .s-promo__item.s-promo__item--fifth
            .s-promo__title
              .container
                p.fz-39.fw-bold.lh-23.uppercase Срочная доставка
                p.fz-39.fw-bold.lh-23.uppercase по всей России
            .s-promo__desc
              .container
                .row.justify-content-end
                  .col-.align-self-end
                    p.fz-39.fw-bold.lh-23.uppercase Лучшая цена
            +actions()
          .s-promo__cover
            img(src='https://metalloprokatspb.com/images/blocks/slider/slides2.jpg', alt='/')
      .swiper-pagination