.s-promo {

  &__slider {

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      opacity: 1;
      background-color: transparent;
      border: 2px solid $color--accent;
    }

    .swiper-pagination-bullet-active {
      background: $color--accent;
    }
  }

  &__item {
    position: relative;
    z-index: 2;
    height: 350px;

    p {

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    background-image: linear-gradient(
      to right,
      white,
      cubic-bezier(0.65, 0.02, 0.58, 0.68),
      transparent
    );
    color: rgb(26, 58, 89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 16px;
  }

  &__desc {
    margin: 0;
    color: #fff;
    background-image: linear-gradient(
      to left,
      #30587e,
      cubic-bezier(0.65, 0.02, 0.58, 0.68),
      transparent
    );
    text-align: right;
    position: absolute;
    width: 100%;
    bottom: 117px;
    padding: 20px 0 10px 0;
  }

  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__actions {
    position: absolute;
    bottom: 55px;
    width: 100%;

    .s-btn {
      min-width: 240px;
      margin-left: auto;
    }
  }
}