.s-about {

  &__title {
    color: $color--primary;
    margin: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.1em;

    @media (min-width: $screen-sm) {
      font-size: 39px;
    }
  }

  &__subtitle {
    font-size: 30px;
    font-weight: 600;
    color: $color--primary;
  }

  &__services {
    margin: 20px 0;
  }

  .s-field-actions {
    display: flex;
    justify-content: flex-end;
  }

  .s-form {
    background: #30587e;
    padding: 25px 30px 25px 30px;
    border-radius: 2px;
    color: #fff;
    max-width: 100%;
    margin-bottom: 18px;
  }

  .s-form__legend {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 18px;
    text-align: center;

    @media (min-width: $screen-sm) {
      font-size: 24px;
    }
  }

  .s-field-text {
    margin: 0;
  }

  .s-field-file {
    width: 50%;
    padding-right: 10px;

    &__input-wrap {
      display: inline-block;
    }

    &__name-text {
      color: #000;
      width: auto;

      &::before {
        margin-right: 0;
        border-right: 0;
      }
    }
  }

  .s-field-text__input {
    margin: 0 0 15px 0;
    border: 1px solid rgba(154,154,154,1);
    background-color: #fff;
    height: 40px;
    font-size: 13px;
    border-radius: 1px;
    padding: 6px 12px;
  }

  .s-field-text--name .s-field-text__input {
    background-image: url(../img/zayavka_name_ico.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
  }

  .s-field-text--phone .s-field-text__input {
    background-image: url(../img/zayavka_phone_ico.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
  }

  .s-field-text--e-mail .s-field-text__input {
    background-image: url(../img/zayavka_email_ico.png);
    background-repeat: no-repeat;
    background-position: 94% 50%;
  }
}