.s-simple-card {
  color: $color--primary;
  transition: all 0.25s ease-out 0s;
  display: block;

  &:hover,
  &:focus {
    color: #ff8310;
    box-shadow: 0px 2px 14px #d4d4d4;
  }

  &__heading {
    font-size: 17px;
    line-height: 24px;
    display: block;
    height: 70px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    color: currentColor;
  }

  &__cover {
    width: 100%;
    height: 180px;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}