mixin calculate-form()

  .s-calculate-form
    .s-calculate-form__parameters
      .s-calculate-form__parameters-header
        span.s-calculate-form__parameters-header-burger
        span.s-calculate-form__parameters-header-title Параметры
      .s-calculate-form__parameters-data
        dl.s-calculate-form__parameters-data-list
          dt.s-calculate-form__parameters-data-term Тип конструкции
          dd.s-calculate-form__parameters-data-desc Технологические металлоконструкции
          dt.s-calculate-form__parameters-data-term Вид металла
          dd.s-calculate-form__parameters-data-desc Сталь
          dt.s-calculate-form__parameters-data-term Монтаж
          dd.s-calculate-form__parameters-data-desc Да
          dt.s-calculate-form__parameters-data-term Проектирование
          dd.s-calculate-form__parameters-data-desc Да
    .s-calculate-form__tabs
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a#step-1-tab.nav-link.active(data-toggle='tab', href='#step-1', role='tab', aria-controls='step-1', aria-selected='true')
            span Тип ворот и автоматика
        li.nav-item
          a#step-2-tab.nav-link(data-toggle='tab', href='#step-2', role='tab', aria-controls='step-2', aria-selected='false')
            span Шаг 2
        li.nav-item
          a#step-3-tab.nav-link(data-toggle='tab', href='#step-3', role='tab', aria-controls='step-3', aria-selected='false')
            span Шаг 3
        li.nav-item
          a#step-4-tab.nav-link(data-toggle='tab', href='#step-4', role='tab', aria-controls='step-4', aria-selected='false')
            span Расчет стоимости
      .tab-content
        #step-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='step-1-tab')
          +form()
            +fieldset('Выберите нужные параметры')
              .row
                .col-12.col-lg-6
                  +field-select(
                    '',
                    {
                      name: 'select',
                      id: 'select'
                    },
                    [
                      {
                        title: 'Тип конструкции',
                        attrs: {
                          value: '',
                        }
                      },
                      {
                        title: 'Input 2',
                        attrs: {
                          value: '',
                        }
                      },
                    ],
                    '',
                    ''
                  )
                .col-12.col-lg-6
                  +field-select(
                    '',
                    {
                      name: 'select',
                      id: 'select'
                    },
                    [
                      {
                        title: 'Вид металла',
                        attrs: {
                          value: '',
                        }
                      },
                      {
                        title: 'Input 2',
                        attrs: {
                          value: '',
                        }
                      },
                    ],
                    '',
                    ''
                  )
                .col-12
                  +field-actions()
                    +btn('Далее')
        #step-2.tab-pane.fade(role='tabpanel', aria-labelledby='step-2-tab')
          +form()
            +fieldset('Выберите нужные параметры')
              .row
                .col-12.col-lg-6
                  +field-select(
                    '',
                    {
                      name: 'select',
                      id: 'select'
                    },
                    [
                      {
                        title: 'Ширина проема, мм',
                        attrs: {
                          value: '',
                        }
                      },
                      {
                        title: 'Input 2',
                        attrs: {
                          value: '',
                        }
                      },
                    ],
                    '',
                    ''
                  )
                .col-12.col-lg-6
                  +field-select(
                    '',
                    {
                      name: 'select',
                      id: 'select'
                    },
                    [
                      {
                        title: 'Высота проема, мм',
                        attrs: {
                          value: '',
                        }
                      },
                      {
                        title: 'Input 2',
                        attrs: {
                          value: '',
                        }
                      },
                    ],
                    '',
                    ''
                  )
                .col-12
                  +field-actions()
                    +btn('Далее')
        #step-3.tab-pane.fade(role='tabpanel', aria-labelledby='step-3-tab')
          +form()
            +fieldset('Выберите нужные параметры')
              .row
                .col-12.col-lg-6
                  +field-text({
                    attrs: {
                      placeholder: 'Введите имя'
                    }
                  }).s-field-text--name
                .col-12.col-lg-6
                  +field-text({
                    attrs: {
                      placeholder: 'Введите телефон'
                    }
                  }).s-field-text--phone
                .col-12
                  +field-actions()
                    +btn('Далее')
        #step-4.tab-pane.fade(role='tabpanel', aria-labelledby='step-4-tab') ?