mixin benefit()

  section.s-benefit
    .container
      .s-h2.s-benefit__title Металлопрокат в розницу в СПб
      p.
        Металлопрокат в Санкт-Петербурге – это продукция, которая используется повсеместно, в частности, оптом и в розницу. Производственно-металлургическая современная компания «Русский Металл» готова снабдить каждого клиента необходимым количеством рассматриваемого товара.
      p.
        На данный момент у нас широкий ассортимент. Металлопрокат трубы разного типа, стальные листы, проволока и другие наименования – все это можно без проблем и заминок заказать у нас прямо сейчас.
      .s-h3.s-benefit__subtitle Купить металлопрокат в Санкт-Петербурге
      img(src='img/kart_text.png', alt='')
      p.
        Металлопрокат в розницу в СПб – это то, что мы имеем возможность предложить самым разным клиентам. Частное вы лицо или же юридическое – сотрудничество с нашей компанией будет выгодным и простым.
      p.
        Сейчас мы предлагаем металлопрокат (Петербург) разного вида:
      ul
        li.
          Черный, нержавеющий, а также цветной. Полосы, рельсы, квадраты, уголки и другие товары представлены в каталоге в разных вариантах исполнения, что позволяет удовлетворить пожелания клиента в кратчайшие сроки.
        li.
          Сетка. Продукция сварного типа: качественная и практичная, может применяться в разных целях.
        li.
          Трубы. Товары типа ППУ-О и ППУ-П, отличающиеся своей долговечностью и надежностью.
        li.
          Конструкции. У нас можно заказать изготовление, а также установку целых систем различной сложности, выполненных из металла.
        li.
          Профнастил. Изделия представлены в нескольких вариантах и отличаются хорошим качеством.
      p.
        Более того, являясь непосредственным производителем, мы предлагаем широкий спектр услуг по металлообработке. Ознакомиться с перечнем можно на сайте или же обратившись к менеджерам.
      .s-h3.s-benefit__subtitle Продажа металлопроката
      p.
        Продажа металлопроката, как и его непосредственное производство, представляет собой один из основных векторов нашей деятельности. Поэтому сотрудничать с нами так выгодно. Отсутствие посредников между изготовителем и покупателем всегда выгодно для обеих сторон. Среди иных преимуществ обращения к нам можно отметить:
      ul
        li.
          Оперативное решение самых разных клиентских вопросов.
        li.
          Большой выбор сертифицированной продукции, соответствующей всем необходимым ГОСТам.
        li.
          Оперативная доставка, которая осуществляется за счет того, что у нас в компании развито такое направление, как логистика и управление перевозками металлопроката.
        li.
          Лояльность ценовой политики.
        li.
          Широкий перечень услуг, связанных с обработкой разнотипного металла (перфорирование, гибка, резка, оцинкование и т.д.).
        li.
          Высокий уровень компетентности каждого сотрудника.