.s-breadcrumb {
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  color: $text-color;
  font-size: 14px;

  a {
    color: #22b8f0;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $text-color;
      text-decoration: none;
    }
  }

  span {
    opacity: 0.75;
  }

  &__item {
    margin-left: 0;
    display: inline-block;
    margin-right: 0.5rem;
    white-space: nowrap;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 0.5rem;
      color: $gray;
    }
  }
}