mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .container
      .row.align-items-center

        .col-.col-xl-2.order-xl-1
          +logo('/')
            img(src='img/logo1.png', alt='Logo')

        .col-.col-xl-3.order-xl-2
          span.s-page-header__desc.s-strong.
            Поставки металлопроката и производство металлоконструкций по всей России

        .col-.col-xl-3.order-xl-4
          ul.s-page-header__contact-list
            li
              span.s-page-header__contact-icon.phone
              a(href='tel:88123096866') +7 812 309 68 66
            li
              span.s-page-header__contact-icon.e-mail
              a(href='mailto:zakaz@pk-rm.ru') zakaz@pk-rm.ru
            li.
              Работаем ежедневно: с 09:00 до 19:00

        .col-.col-xl-4.order-xl-3
          +form()
            .s-form__desc Заявка на расчёт стоимости металлопроката
            +field-text({
              attrs: {
                placeholder: 'Введите имя'
              }
            }).s-field-text--name
            +field-text({
              attrs: {
                placeholder: 'Введите телефон'
              }
            }).s-field-text--phone
            .s-field-file
              label.s-field-file__input-wrap
                input.s-field-file__input(type='file')
                .s-field-file__image.s-field-file__image--blue
            +field-actions()
              +btn('Отправить заявку')