.s-page-header {
  background-color: $color--primary-variant;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  @media (min-width: $screen-lg) {
    text-align: left;
  }

  .s-logo {
    margin-bottom: 15px;
  }

  &__desc {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
    display: block;
  }

  &__contact-list {

    @media (min-width: $screen-lg) {
      text-align: left;
    }

    li {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      a {
        display: inline-block;
        vertical-align: middle;
        color: currentColor;

        &[href^='tel'] {
          font-weight: 600;
          font-size: 23px;
          line-height: 24px;
        }

        &[href^='mail'] {
          font-weight: 600;
          font-size: 19px;
          line-height: 24px;
        }
      }
    }
  }

  &__contact-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
  }

  .s-form {
    color: #fff;
    max-width: 480px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: ($screen-lg - 1)) {
      justify-content: center;
    }

    &__desc {
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &__legend {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      margin-bottom: 5px;
    }
  }

  .s-field-text {
    margin: 0;
    flex-basis: auto;
    width: 50%;
    padding-right: 10px;

    &__input {
      margin: 0 0 15px 0;
      border: 1px solid rgba(154,154,154,1);
      background-color: #fff;
      color: #000;
      height: 30px;
      font-size: 13px;
      border-radius: 1px;
      padding: 6px 12px;
    }

    &--name {

      .s-field-text__input {
        background-image: url(../img/zayavka_name_ico.png);
        background-repeat: no-repeat;
        background-position: 94% 50%;
      }
    }

    &--phone {

      .s-field-text__input {
        background-image: url(../img/zayavka_phone_ico.png);
        background-repeat: no-repeat;
        background-position: 94% 50%;
      }
    }
  }

  .s-field-file {
    width: 50%;
    padding-right: 10px;

    &__input-wrap {
      display: inline-block;
    }

    &__name-text {
      color: #000;
      width: auto;

      &::before {
        margin-right: 0;
        border-right: 0;
      }
    }
  }

  .s-field-actions {
    margin: 0 10px 0 auto;
  }

  .s-btn {
    padding: 1px 8px;
    font-size: 14px;
  }
}