mixin main-aside()

  aside.s-main-aside
    ul
      li
        a(href='/') Черный металлопрокат
      li
        a(href='/') Нержавеющий металлопрокат
      li
        a(href='/') Цветной металлопрокат
      li
        a(href='/') Трубы ППУ
      li
        a(href='/') Сетка сварная
      li
        a(href='/') Профнастил
      li
        a(href='/') Металлоконструкции
      li
        a(href='/') Услуги
        ul
          li
            a(href='/') Резка металла
          li
            a(href='/') Резка металлопроката
          li
            a(href='/') Раскрой металла
          li
            a(href='/') Лазерная сварка металла
          li
            a(href='/') Рубка металла
      li
        a(href='/') Сетка арматурная
        ul
          li
            a(href='/') Сетка кладочная
          li
            a(href='/') Арматурные каркасы
          li
            a(href='/') Дорожная сетка
          li
            a(href='/') Сетка оцинкованная
      li
        a(href='/') ГОСТы
      li
        a(href='/') Металл
        ul
          li
            a(href='/') Купить металлопрокат
          li
            a(href='/') Металлопрокат оптом
          li
            a(href='/') Оцинкованный металл
          li
            a(href='/') Листовой металлопрокат
          li
            a(href='/') Трубный металлопрокат
          li
            a(href='/') Сортовой металлопрокат
      li
        a(href='/') Арматура
        ul
          li
            a(href='/') Арматура для фундамента
          li
            a(href='/') Арматура АI (А1) для фундамента
          li
            a(href='/') Арматура А3 (АIII)
          li
            a(href='/') Арматура А500С
          li
            a(href='/') Катанка
          li
            a(href='/') Сварочная проволока
      li
        a(href='/') Пластиковые трубы
        ul
          li
            a(href='/') Трубы ПВД
          li
            a(href='/') Трубы ПВХ
          li
            a(href='/') Трубы ПНД
      li
        a(href='/') Профлист
      li
        a(href='/') Детали трубопроводов