.s-main-aside {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $screen-sm) {
    border-right: 1px solid #e8e8e8;
    padding-right: 20px;
  }

  ul {

    li {
      margin: 0;

      &::before {
        display: none;
      }

      a {
        color: currentColor;
        display: inline-block;
      }
    }
  }
}