mixin we-can-help-you()

  .s-we-can-help-you
    .container
      .s-we-can-help-you__inner
        .s-h2.s-we-can-help-you__title.
          Вы уже приняли решение, где заказать изготовление ваших металлоконструкций?
        p.s-we-can-help-you__desc
          | Мы готовы помочь принять решение уже сейчас
          br
          | Наши специалисты проведут консультацию с выездом на объект или по телефону
          br
          | Спланируйте ваше завтра, получив консультацию сегодня

        +form()
          .row
            .col-.col-md-4
              +field-text({
                attrs: {
                  placeholder: 'Введите ваше имя'
                }
              })
            .col-.col-md-4
              +field-text({
                attrs: {
                  placeholder: 'Введите ваш телефон'
                }
              })
            .col-.col-md-4
              +field-actions()
                +btn('Заказать консультацию')