.s-we-can-help-you {
  padding-top: 40px;
  padding-bottom: 40px;

  &__inner {
    background: rgba(37, 97, 163, 0.8);
    text-align: center;
    padding-bottom: 40px;
  }

  &__title {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    max-width: 900px;
    margin: 0px auto 90px;
    padding-top: 30px;
    line-height: 100%;
  }

  &__desc {
    font-size: 20px;
    color: #fff;
    line-height: 40px;
  }

  .s-form {
    max-width: 90%;
    background: rgba(12, 56, 106, 0.8);
    padding: 30px;
    margin: auto;
  }

  .s-field-text {
    margin: 0;

    @media (max-width: ($screen-md - 1)) {
      margin-bottom: 10px;
    }

    &__input {
      border-radius: 0px;
      height: 34px;
      display: block;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
      border-radius: 0;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
  }

  .s-btn {
    text-transform: uppercase;
    color: #fff;
    background: green;
    border: 1px solid green;
    box-shadow: none;
    font-weight: normal;
    text-shadow: none;
    white-space: nowrap;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 0;
    width: 100%;
  }
}