// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$e-mail-name: 'e-mail';
$e-mail-x: 0px;
$e-mail-y: 68px;
$e-mail-offset-x: 0px;
$e-mail-offset-y: -68px;
$e-mail-width: 24px;
$e-mail-height: 17px;
$e-mail-total-width: 121px;
$e-mail-total-height: 85px;
$e-mail-image: '../img/sprite-png.png';
$e-mail: (0px, 68px, 0px, -68px, 24px, 17px, 121px, 85px, '../img/sprite-png.png', 'e-mail', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 0px;
$fb-offset-x: 0px;
$fb-offset-y: 0px;
$fb-width: 30px;
$fb-height: 30px;
$fb-total-width: 121px;
$fb-total-height: 85px;
$fb-image: '../img/sprite-png.png';
$fb: (0px, 0px, 0px, 0px, 30px, 30px, 121px, 85px, '../img/sprite-png.png', 'fb', );
$footer-email-name: 'footer-email';
$footer-email-x: 102px;
$footer-email-y: 24px;
$footer-email-offset-x: -102px;
$footer-email-offset-y: -24px;
$footer-email-width: 19px;
$footer-email-height: 14px;
$footer-email-total-width: 121px;
$footer-email-total-height: 85px;
$footer-email-image: '../img/sprite-png.png';
$footer-email: (102px, 24px, -102px, -24px, 19px, 14px, 121px, 85px, '../img/sprite-png.png', 'footer-email', );
$footer-phone-name: 'footer-phone';
$footer-phone-x: 102px;
$footer-phone-y: 0px;
$footer-phone-offset-x: -102px;
$footer-phone-offset-y: 0px;
$footer-phone-width: 19px;
$footer-phone-height: 20px;
$footer-phone-total-width: 121px;
$footer-phone-total-height: 85px;
$footer-phone-image: '../img/sprite-png.png';
$footer-phone: (102px, 0px, -102px, 0px, 19px, 20px, 121px, 85px, '../img/sprite-png.png', 'footer-phone', );
$gp-name: 'gp';
$gp-x: 34px;
$gp-y: 0px;
$gp-offset-x: -34px;
$gp-offset-y: 0px;
$gp-width: 30px;
$gp-height: 30px;
$gp-total-width: 121px;
$gp-total-height: 85px;
$gp-image: '../img/sprite-png.png';
$gp: (34px, 0px, -34px, 0px, 30px, 30px, 121px, 85px, '../img/sprite-png.png', 'gp', );
$phone-name: 'phone';
$phone-x: 68px;
$phone-y: 34px;
$phone-offset-x: -68px;
$phone-offset-y: -34px;
$phone-width: 24px;
$phone-height: 22px;
$phone-total-width: 121px;
$phone-total-height: 85px;
$phone-image: '../img/sprite-png.png';
$phone: (68px, 34px, -68px, -34px, 24px, 22px, 121px, 85px, '../img/sprite-png.png', 'phone', );
$tw-name: 'tw';
$tw-x: 0px;
$tw-y: 34px;
$tw-offset-x: 0px;
$tw-offset-y: -34px;
$tw-width: 30px;
$tw-height: 30px;
$tw-total-width: 121px;
$tw-total-height: 85px;
$tw-image: '../img/sprite-png.png';
$tw: (0px, 34px, 0px, -34px, 30px, 30px, 121px, 85px, '../img/sprite-png.png', 'tw', );
$vk-name: 'vk';
$vk-x: 34px;
$vk-y: 34px;
$vk-offset-x: -34px;
$vk-offset-y: -34px;
$vk-width: 30px;
$vk-height: 30px;
$vk-total-width: 121px;
$vk-total-height: 85px;
$vk-image: '../img/sprite-png.png';
$vk: (34px, 34px, -34px, -34px, 30px, 30px, 121px, 85px, '../img/sprite-png.png', 'vk', );
$zayavka-phone-name: 'zayavka-phone';
$zayavka-phone-x: 68px;
$zayavka-phone-y: 0px;
$zayavka-phone-offset-x: -68px;
$zayavka-phone-offset-y: 0px;
$zayavka-phone-width: 30px;
$zayavka-phone-height: 30px;
$zayavka-phone-total-width: 121px;
$zayavka-phone-total-height: 85px;
$zayavka-phone-image: '../img/sprite-png.png';
$zayavka-phone: (68px, 0px, -68px, 0px, 30px, 30px, 121px, 85px, '../img/sprite-png.png', 'zayavka-phone', );
$spritesheet-width: 121px;
$spritesheet-height: 85px;
$spritesheet-image: '../img/sprite-png.png';
$spritesheet-sprites: ($e-mail, $fb, $footer-email, $footer-phone, $gp, $phone, $tw, $vk, $zayavka-phone, );
$spritesheet: (121px, 85px, '../img/sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
