.s-btn {
  position: relative;
  display: inline-block;
  background-color: $color--accent;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 7px 12px;
  border-bottom: 5px solid #bf5e04;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;

  &:hover,
  &:focus {}

  &:active,
  &:focus {}

  &:visited {}

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}