.s-mobile-landing-nav {
  background-color: #30587e;
  padding: 0;
  margin: 0;
  left: auto;
  right: 0;
  top: 50px;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: none;

  &__item {
    margin: 0;
  }

  &__link {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    padding: 0 30px;
    display: block;
    height: 100%;
    border-bottom: 1px solid #264665;
    color: #fff;
  }

  &--active {
    display: block;
  }
}