mixin russian-steel()

  section.s-russian-steel
    .container
      .s-russian-steel__inner
        .s-h2.s-russian-steel__title
          span Что такое ООО «Русский Металл»
        .row
          .col-.col-md-4
            dl
              dt.s-russian-steel__term 5 компаний
              dd.s-russian-steel__desc в 2015 году отдали своё предпочтение компании ООО «Русский Металл» в изготовлении крупномасштабных проектов изготавливаемых из металлоконструкций
          .col-.col-md-4
            dl
              dt.s-russian-steel__term 15 лет
              dd.s-russian-steel__desc опыта успешного изготовления металлоконструкций и строительства зданий по всей России
          .col-.col-md-4
            dl
              dt.s-russian-steel__term 50 зданий
              dd.s-russian-steel__desc изготовлено за всю историю работы компании ООО «Русский Металл»
        .row
          .col-.col-md-4
            dl
              dt.s-russian-steel__term Надежность
              dd.s-russian-steel__desc Компания ООО «Русский Металл» уделяет безопасности и долговечности металлоконструкций основное внимание, что позволяет уже долгие годы оставаться надёжным поставщиком
          .col-.col-md-4
            dl
              dt.s-russian-steel__term Честность
              dd.s-russian-steel__desc Используя многолетний опыт компания ООО «Русский Металл» оптимизирует процесс производства на разных этапах, что позволяет производить металлоконструкции по честной стоимости
          .col-.col-md-4
            dl
              dt.s-russian-steel__term Технологии
              dd.s-russian-steel__desc Прогрессивный рост современных технологий, позволяет внедрять новые разработки в процессы производства, тем самым сокращая сроки изготовления металлоконструкций