.s-russian-steel {
  padding: 40px 0;

  &__inner {
    border: 2px solid #017BC3;
    padding: 0 30px 30px 30px;
  }

  &__title {
    margin: 0;
    text-align: center;
    transform: translate3d(0,-35px,0);

    span {
      display: inline-block;
      background: #fff;
      padding: 10px 20px;
      color: #017BC3;
      font-size: 30px;
      font-weight: 500;
    }
  }

  &__term {
    color: #017BC3;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 0;
  }

  &__desc {
    margin-bottom: 30px;
    margin-left: 0;
  }
}