.s-right-choice {
  padding: 2rem 0;
  text-align: center;

  a {
    display: inline-block;
    text-transform: uppercase;
    color: $color--accent;
    border-bottom: 2px dotted currentColor;
    font-weight: 700;
    font-size: 3vw;
    line-height: 1.2em;

    &:hover,
    &:focus {
      text-decoration: none;
      border-bottom: 0;
    }
  }
}