.s-special-offer {
  background-color: #2f567c;
  color: #fff;
  padding-bottom: 30px;

  &__inner {
    position: relative;
  }

  &__title {

    @extend .s-our-products__title;
    color: #fff;
  }

  &__desc {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;

    @media (min-width: $screen-sm) {
      font-size: 36px;
    }
  }

  &__benefits {
    color: #1a3a59;
    position: relative;
    z-index: 2;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-xl) {
      max-width: 780px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 181px;
        height: 100%;
        z-index: 2;
        right: 321px;
        background-size: auto 400px;
        background-repeat: no-repeat;
        background-image: url(../img/5555.png);
      }
    }
  }

  &__benefit {
    display: block;
    // width: 280px;
    padding: 15px 35px;
    // margin-left: 40px;
    background-color: #fff;
    margin-bottom: 30px;

    @media (min-width: $screen-md) {
      width: 49%;

      &:first-child {
        margin-right: 2%;
      }
    }

    @media (min-width: $screen-xl) {
      width: 350px;
      margin-bottom: 0;
      height: 400px;

      &:first-child {
        margin-right: 40px;
      }
    }
  }

  &__benefit-if {
    font-weight: bold;
    font-size: 16px;
    line-height: 1em;
    cursor: pointer;
    margin-bottom: 15px;

    span {
      display: block;
      font-size: 28px;

      @media (min-width: $screen-sm) {
        font-size: 36px;
      }
    }
  }

  &__benefit-cover {
    height: 186px;
    width: 100%;
    margin-bottom: 10px;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__offer {
    color: #1a3a59;
    font-size: 20px;
    margin-bottom: 9px;
  }

  &__form {
    display: block;
    width: 100%;
    background-color: #97abbe;
    padding: 24px;

    @media (min-width: $screen-xl) {
      height: 200px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0,-50%,0);
      z-index: 1;
      display: flex;
      justify-content: flex-end;

      .s-form {
        width: 300px;
      }
    }

    .s-field-text {
      margin-bottom: 0;
    }

    .s-field-text__input {
      margin: 0 0 15px 0;
      border: 1px solid rgba(154,154,154,1);
      background-color: #fff;
      height: 40px;
      font-size: 13px;
      border-radius: 1px;
      padding: 6px 12px;
    }

    .s-field-text--name .s-field-text__input {
      background-image: url(../img/zayavka_name_ico.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
    }

    .s-field-text--phone .s-field-text__input {
      background-image: url(../img/zayavka_phone_ico.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
    }

    .s-field-actions {

      .s-btn {
        width: 100%;
      }
    }
  }
}