mixin manufacture-and-installation()

  .s-manufacture-and-installation
    .container
      .s-manufacture-and-installation__inner
        .s-manufacture-and-installation__desc.
          Изготовление и монтаж металлоконструкций любой сложности с гарантией до 5 лет по договору
        +form().s-manufacture-and-installation__form
          .s-h2.s-manufacture-and-installation__form-title Оставьте заявку
          p.s-manufacture-and-installation__form-desc Получите бесплатный замер и консультацию специалиста именно по Вашему вопросу
          +field-text({
            attrs: {
              placeholder: 'Ваш телефон'
            }
          })
          +field-actions()
            +btn('Подать заявку')