.s-manufacture-and-installation {
  padding-top: 18px;

  &__inner {
    background-image: url(../img/225.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-width: 1000px;
    margin: auto;

    @media (min-width: $screen-sm) {
      height: 584px;
    }
  }

  &__desc {
    background: rgba(255,255,255,0.9);
    color: #000;
    max-width: 880px;
    padding: 10px 10px;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    line-height: 40px;
    margin: 0 auto;
    position: relative;
    top: 25%;
  }

  &__form {
    background: rgba(37, 97, 163, 0.95);
    padding-top: 18px;
    margin-bottom: 18px;
    text-align: center;

    @media (min-width: $screen-sm) {
      position: absolute;
      z-index: 1;
      top: 50%;
      right: 30px;
      width: 400px;
      bottom: 0;
      max-height: 260px;
    }

    .s-field-text {
      display: flex;
      justify-content: center;
    }

    .s-field-text__input {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555555;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      width: 174px;
    }

    .s-btn {
      text-transform: uppercase;
      color: #fff;
      background: green;
      border: 1px solid green;
      box-shadow: none;
      font-weight: normal;
      text-shadow: none;
      font-size: 25px;
      height: 50px;
      width: 100%;

      @media (min-width: $screen-sm) {
        width: 300px;
      }
    }
  }

  &__form-title {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
  }

  &__form-desc {
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-bottom: 18px;
  }
}