mixin metallokonstruktsii-seo()

  section.s-metallokonstruktsii-seo
    .container
      .s-h2.s-metallokonstruktsii-seo__title Вас интересует изготовление металлоконструкций?
      p.s-metallokonstruktsii-seo__desc
        | Мы изготавливаем и выполняем монтаж металлоконструкций любых видов для
        span Юридических лиц и частных клиентов
      .row
        .col-.col-md-6
          span.s-strong Изготовление и монтаж металлоконструкций
          p В строительном бизнесе изготовление металлоконструкций на заказ является неотъемлемой частью. Здания из металлоконструкций в последнее время завоевали особую популярность за быстрое возведение, приемлемую стоимость и надежность. Если Вам необходимо установить раздвижные ворота или газонные ограждения, разместить строительные леса или арматуру, изготовить закладные детали или металлические пролеты для линий ЛЭП – это всё вы можете заказать в нашей компании. Также при необходимости мы осуществим монтаж ваших металлоконструкций по честной цене, используя современное оборудование и методы монтажа.
          span.s-strong Как же грамотно выбрать поставщика металлоконструкций?
          p Для начала следует убедиться, что производитель располагает производственной базой, позволяющей изготовить металлоконструкции в соответствии с чертежами заказчика, а не просто реализует готовую продукцию. Конструкционные требования к современной технике и архитектуре крайне высоки, все детали должны в точности соответствовать техническим нормативам и условиям спецификации.
          p Чтобы на этапе сборки не возникало дополнительных вопросов, детали металлоконструкций должны быть промаркированы.
          p Кроме того, следует обратить внимание на репутацию фирмы. Приобретайте металлоконструкции только у организаций, давно и стабильно работающих в этом бизнесе, и имеющих благоприятные отзывы и рекомендации от своих клиентов.
          p Проверьте качество готовых изделий, убедитесь, что они отвечают нормативным требованиям.
          p ООО «Русский Металл» - поставщик, полностью удовлетворяющий эти условия! Изготовление и монтаж строительных металлоконструкций на заказ – наш основной профиль. Цена на наши услуги ниже рыночной, за счет того что на протяжении многих лет мы  выстраиваем взаимоотношения с крупнейшими поставщиками  металлопроката в России. Собственный крытый склад и склады ответственного хранения наших партнеров позволяют продукции нашей компании проходить многочисленные тесты и испытания на качество. Наши металлоконструкции применяются на множестве стройплощадок Санкт-Петербурга и Ленинградской области.
          p ООО «Русский Металл» - надежно, качественно, как и металлоконструкции, которые мы производим.


        .col-.col-md-6
          .row
            .col-12.col-md-4
              figure.s-metallokonstruktsii-seo__figure
                .s-metallokonstruktsii-seo__cover
                  img(src='img/Izgotovlenie_zdanij_iz_metallokonstrukcij.jpg', alt='')
                figcaption.s-metallokonstruktsii-seo__caption Изготовление зданий из металлоконструкций
            .col-12.col-md-4
              figure.s-metallokonstruktsii-seo__figure
                .s-metallokonstruktsii-seo__cover
                  img(src='img/Izgotovlenie_meta_lokonstrukcij_zakaz.jpg', alt='')
                figcaption.s-metallokonstruktsii-seo__caption Изготовление металлоконструкций на заказ
            .col-12.col-md-4
              figure.s-metallokonstruktsii-seo__figure
                .s-metallokonstruktsii-seo__cover
                  img(src='img/Izgotovlenie_stroitelnyh_metallokonstrukcij.jpg', alt='')
                figcaption.s-metallokonstruktsii-seo__caption Изготовление строительных металлоконструкций
          .row
            .col-12.col-md-4
              figure.s-metallokonstruktsii-seo__figure
                .s-metallokonstruktsii-seo__cover
                  img(src='img/Izgotovlenie_metallokonstrukcij_po_chertezham_zakazchika.jpg', alt='')
                figcaption.s-metallokonstruktsii-seo__caption Изготовление металлоконструкций по чертежам заказчика
            .col-12.col-md-4
              figure.s-metallokonstruktsii-seo__figure
                .s-metallokonstruktsii-seo__cover
                  img(src='img/Izgotovlenie_vorot_i_ograzhdenij.jpg', alt='')
                figcaption.s-metallokonstruktsii-seo__caption Изготовление ворот и ограждений
            .col-12.col-md-4
              figure.s-metallokonstruktsii-seo__figure
                .s-metallokonstruktsii-seo__cover
                  img(src='img/Izgotovlenie_zakladnyh_detalej.jpg', alt='')
                figcaption.s-metallokonstruktsii-seo__caption Изготовление закладных деталей