.s-metallokonstruktsii-seo {
  padding-top: 20px;

  &__title {
    font-size: 38px;
    font-weight: 400;
    text-align: center;
    margin: 0;
  }

  &__desc {
    font-size: 25px;
    text-align: center;

    span {
      text-transform: uppercase;
    }
  }

  .s-strong {
    display: block;
    text-align: center;
    margin-bottom: 18px;
    font-weight: bolder;
  }

  p {
    margin-bottom: 18px;
  }

  &__figure {}

  &__cover {
    width: 100%;
    height: 120px;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__caption {
    text-align: center;
  }
}