//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/external-link/external-link.pug
include ../blocks/table/table.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-select/field-select.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-toggler/field-toggler.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/pagination/pagination.pug
include ../blocks/owl-carousel/owl-carousel.pug
include ../blocks/slick-carousel/slick-carousel.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/style-guide/style-guide.pug
include ../blocks/scroll-link/scroll-link.pug
include ../blocks/promo/promo.pug
include ../blocks/testimonials/testimonials.pug
include ../blocks/social/social.pug
include ../blocks/field-file/field-file.pug
include ../blocks/feedback/feedback.pug
include ../blocks/useful-links/useful-links.pug
include ../blocks/partners/partners.pug
include ../blocks/benefit/benefit.pug
include ../blocks/tabs/tabs.pug
include ../blocks/simple-card/simple-card.pug
include ../blocks/right-choice/right-choice.pug
include ../blocks/main-aside/main-aside.pug
include ../blocks/info-layout/info-layout.pug
include ../blocks/about/about.pug
include ../blocks/calculate-the-price/calculate-the-price.pug
include ../blocks/manufacture-and-installation/manufacture-and-installation.pug
include ../blocks/metallokonstruktsii-seo/metallokonstruktsii-seo.pug
include ../blocks/customers-choose-us/customers-choose-us.pug
include ../blocks/completed-projects/completed-projects.pug
include ../blocks/additional-info/additional-info.pug
include ../blocks/russian-steel/russian-steel.pug
include ../blocks/we-can-help-you/we-can-help-you.pug
include ../blocks/calculate-form/calculate-form.pug
include ../blocks/landing-page-header/landing-page-header.pug
include ../blocks/our-products/our-products.pug
include ../blocks/why-choose-us/why-choose-us.pug
include ../blocks/advantage/advantage.pug
include ../blocks/our-services/our-services.pug
include ../blocks/installation-methods/installation-methods.pug
include ../blocks/projects-gallery/projects-gallery.pug
include ../blocks/additional-products/additional-products.pug
include ../blocks/addresses/addresses.pug
include ../blocks/special-offer/special-offer.pug
include ../blocks/mobile-landing-header/mobile-landing-header.pug
include ../blocks/mobile-landing-nav/mobile-landing-nav.pug
include ../blocks/simple-modal/simple-modal.pug
