.s-installation-methods {
  min-height: 715px;
  background-color: #000;
  background-image: url(../img/installation_methods.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {

    @extend .s-our-products__title;

    @media (min-width: 681px) {
      padding: 40px 0 30px 0;
      font-size: 40px;
    }
  }

  &__desc {
    text-align: center;
    font-size: 18px;
    color: #161616;
  }
}