.s-partners {

  &__title {
    text-align: center;
    color: $color--primary;
  }

  &__item {
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 146px;
    }
  }
}