mixin partners()

  section.s-partners
    .s-h2.s-partners__title Наши партнеры
    .swiper-container.s-partners__slider
      .swiper-wrapper
        .swiper-slide
          .s-partners__item
            img(src='img/logo1.jpg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/logo2.jpg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/logo3.jpg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/logo4.jpg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/logo5.jpg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/logo6.jpg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/logo7.jpg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/logo8.jpg', alt='/')
