.s-tabs {

  &__nav {
    background: #30587e;

    .nav-tabs  {
      flex-direction: column;
      align-items: flex-start;
      border: 0;

      @media (min-width: $screen-sm) {
        flex-direction: row;
      }
    }

    .nav-item {
      margin: 0;
    }

    .nav-link {
      display: block;
      background: #30587e;
      color: #fff;
      font-weight: 500;
      font-size: 11px;
      position: relative;
      line-height: 25px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 10px;
      white-space: nowrap;
      border: 0;
      border-radius: 0;

      &:hover,
      &:focus {

      }

      @media (min-width: $screen-lg) {
        font-size: 13px;
        line-height: 70px;
      }
    }
  }

  &__content {
    padding-top: 50px;
  }
}