.s-page-footer {
  background-color: #fff;

  @media (max-width: ($screen-md - 1)) {
    text-align: center;
  }

  &__top {
    color: #1a3a59;
    font-size: 21px;
    font-weight: 600;
    padding: 40px 0 20px 0;
  }

  &__desc {
    display: block;
    text-align: center;
  }

  &__contact-list {

    @media (min-width: $screen-md) {
      float: right;
    }

    li {
      margin: 0;

      a {
        display: inline-block;
        vertical-align: middle;
        color: currentColor;
      }
    }
  }

  &__contact-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  &__bottom {
    border-top: 1px solid gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: center;
  }

  &__copyright {
    color: #848484;
  }

  .s-social-list {
    margin-top: 1rem;

    @media (min-width: $screen-sm) {
      margin-top: 0;
      margin-left: auto;
    }
  }
}