mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .container
      .s-page-footer__top
        .row.align-items-center

          .col-.col-md-3
            +logo()
              img(src='img/logo-footer.png', alt='Logo')

          .col-.col-md-6
            span.s-page-footer__desc.s-strong.
              Поставки металлопроката и производство металлоконструкций по всей России

          .col-.col-md-3
            ul.s-page-footer__contact-list
              li
                span.s-page-footer__contact-icon.footer-phone
                a(href='tel:88123096866') +7 812 309 68 66
              li
                span.s-page-footer__contact-icon.footer-email
                a(href='mailto:zakaz@pk-rm.ru') zakaz@pk-rm.ru

      .s-page-footer__bottom
        span.s-page-footer__copyright ООО «Русский Металл» © 2017. Все права защищены
        +social()
