mixin landing-page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-landing-page-header--' + modsList[i].trim();
      }
    }

  header.s-landing-page-header(class=allMods, role='banner')&attributes(attributes)
