mixin useful-links()

  .s-useful-links
    .container
      ul.s-useful-links__list
        li: a(href='/') Магазин
        li: a(href='/') Базы металлопроката
        li: a(href='/') Ленинградская область
        li: a(href='/') Выборг
        li: a(href='/') Трубы
        li: a(href='/') Доставка/Перевозка
        li: a(href='/') Купить
        li: a(href='/') Оптом
        li: a(href='/') Цена/Стоимость
        li: a(href='/') Сортамент и справочник
        li: a(href='/') Марка стали
        li: a(href='/') Ворота
        li: a(href='/') Резка металла
        li: a(href='/') Резка металлопроката
        li: a(href='/') Гибка металла
        li: a(href='/') Сварка металла
        li: a(href='/') Рубка металла
        li: a(href='/') Раскрой металла
        li: a(href='/') Металл
        li: a(href='/') Черный
        li: a(href='/') Цветной
        li: a(href='/') Нержавеющий
        li: a(href='/') Алюминиевый
        li: a(href='/') Сортовой
        li: a(href='/') Листовой
        li: a(href='/') Оцинкованный
        li: a(href='/') Трубный
        li: a(href='/') Профильный
        li: a(href='/') Фасонный
        li: a(href='/') Статьи