.s-useful-links {
  padding: 25px 0;
  background-color: #132f4a;
  color: #ffffff;
  border-top: 1px solid #53779a;

  &__list {

    @media (min-width: $screen-xs) {
      column-count: 2;
      column-gap: 0;
    }

    @media (min-width: $screen-sm) {
      column-count: 3;
    }

    @media (min-width: $screen-md) {
      column-count: 5;
    }

    li {
      margin: 0;
      margin-bottom: 10px;
      padding-right: 20px;

      a {
        color: currentColor;

        &:hover,
        &:focus {
          color: $color--accent;
          text-decoration: none;
        }
      }
    }
  }
}