.s-our-services {

  &__title {

    @extend .s-our-products__title;
  }

  &__list {
    @extend .s-our-products__list;
  }

  &__item {
    @extend .s-our-products__item;

    @media (min-width: $screen-sm) {
      width: 24%;
      margin-right: 1.25%;

      &:nth-child(3n) {
        margin-right: 1.25%;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  &__item-title {
    @extend .s-our-products__item-title;
  }

  &__item-img {
    @extend .s-our-products__item-img;
  }

  &__info {
    @extend .s-our-products__info;
  }

  &__subtitle {
    @extend .s-our-products__subtitle;
  }
}