.s-why-choose-us {
  background-color: #f3f7ff;
  padding-bottom: 30px;

  @media (min-width: $screen-sm) {
    background-image: url(../img/whymebg.jpg);
    background: none;
    background-size: cover;
    background-position: bottom center;
  }

  &__title {

    @extend .s-our-products__title;

    @media (min-width: $screen-md) {
      padding: 60px 0 60px 0;
    }
  }

  &__reasons {

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__reason {
    margin: 0;
    line-height: 1.35em;
    margin-bottom: 20px;

    @media (min-width: $screen-sm) {
      width: 50%;
      flex-basis: auto;
    }
  }

  &__reason-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  &__reason-cover {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #fff;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__reason-caption {
    padding: 0 12px;
  }

  &__reason-term {
    margin: 0;
    padding: 3px 0 5px 0;
    display: block;
    color: #161616;
    font-size: 18px;
    font-weight: bold;
  }

  &__reason-desc {
    display: block;
    color: #161616;
    font-size: 16px;
  }

  &__form {
    max-width: 470px;
    margin: 30px auto;
    text-align: center;
    background-color: #fff;
    padding: 1rem;

    @media (min-width: $screen-sm) {
      border: 20px solid rgba(26,58,89,0.8);
      background-clip: padding-box;
    }

    @media (min-width: $screen-md) {
      margin-top: 100px;
    }

    .s-field-text__input {
      max-width: 300px;
      margin: 0 0 15px 0;
      border: 1px solid rgba(154,154,154,1);
      background-color: #fff;
      height: 40px;
      font-size: 13px;
      border-radius: 1px;
      padding: 6px 12px;
      background-image: url(../img/zayavka_phone_ico.png);
      background-repeat: no-repeat;
      background-position: 94% 50%;
    }
  }

  &__form-title {
    color: #161616;
    font-size: 24px;
    display: block;
    font-weight: bold;
    padding-top: 25px;
    line-height: 28px;
    padding-bottom: 15px;
  }

  &__form-desc {
    color: #878787;
    font-size: 16px;
    display: block;
    margin-bottom: 25px;
  }
}