mixin simple-modal()

  #exampleModal.s-simple-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        .modal-header Откатные ворота с «Профлистом»
        .modal-body
          .row
            .col-.col-md-6
              img(src='img/c850008f9145fd41cdfa8d0dd14e4631.jpg', alt='')
            .col-.col-md-6
              .s-simple-modal__text
                ul
                  li Автоматика для откатных ворот - быстрое автоматическое открытие, удобное дистанционное управление. Механические и электрические приводы, радиоприемники и зубчатые рейки сделают эксплуатацию ворот легкой и приятной
                  li Электроприводы - установим открывающий механизм, подведем питание к тумбам и стойкам.
                  li Управление воротами - открывайте стойки с пульта или брелка. Монтируем блоки дистанционного управления и фотоэлементы.
              +form().s-simple-modal__form
                +field-text({
                  attrs: {
                    placeholder: 'Телефон'
                  }
                })
                +field-actions()
                  +btn('Подать заявку')
