.s-additional-products {
  background-color: #fff;

  &__title {

    @extend .s-our-products__title;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0;
    width: 100%;

    @media (min-width: $screen-sm) {
      width: 50%;
    }

    > a {
      display: block;
      color: currentColor;
      position: relative;
      color: #1a3a59;

      &:hover,
      &:focus {
        color: #ff8310;

        .s-additional-products__item-cover {
          box-shadow: inset 0px 0px 0px 5px #ff8310;
        }
      }
    }
  }

  &__item-figure {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__item-cover {
    width: 130px;
    height: 130px;
    border-radius: 6px;
    flex-shrink: 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__item-caption {
    display: block;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;

    @media (min-width: $screen-sm) {
      font-size: 30px;
    }
  }
}