.s-calculate-the-price {
  padding-top: 70px;
  background-color: $color--primary;
  background-image: url(../img/calc_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 28px;

  @media (min-width: $screen-sm) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @media (min-width: $screen-md) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 38px;
    text-transform: uppercase;

    span {
      color: $color--accent;
    }

    @media (min-width: $screen-sm) {
      font-size: 40px;
    }

    @media (min-width: $screen-md) {
      font-size: 48px;
    }
  }
}