mixin calculate-the-price()

  section.s-calculate-the-price
    .container
      .s-h1.s-calculate-the-price__title
        | Расчитайте стоимость
        br
        span  металлоконструкций
        |  в 3 шага

      .s-calculate-the-price__form
        +calculate-form()