extends pug/layout.pug

block meta
  - var title = 'Черный металлопрокат';
  title= title
  meta(name='description', content='')

block header
  +main-nav()
  +page-header()

block content

  .s-info-layout
    .container
      .row
        .col-.col-sm-4
          .s-info-layout__aside
            +main-aside()

        .col-.col-sm-8
          .s-info-layout__content
            +breadcrumb()
              +breadcrumb-item('Главная', '/home')
              +breadcrumb-item('Черный металлопрокат')

            section.s-about
              h1.s-about__title Черный металлопрокат в Санкт-Петербурге
              .s-about__text
                p.
                  Черный металлопрокат занимает основную долю выпуска всего металлопроката. Он имеет широкое применение в строительстве зданий, коммуникационных сетей, трубопроводов, рельсовых путей. Мы реализуем все основные виды черного проката от ведущих металлургических комбинатов: НЛМК (около 20% выпуска стали в РФ), Северсталь, ОМК, ЧТПЗ. Прямые поставки от производителя гарантируют низкую цену и высокое качество продукции. Весь реализуемый прокат соответствует требованиям ГОСТ, что допускает его применение в самых ответственных областях строительства.
                p.
                  Наибольшим спросом пользуются следующие виды:

                ul
                  li Арматура строительная всех типов.
                  li Листовой прокат.
                  li Трубы цельнотянутые и сварные всех размерностей.
                  li Балка тавр и двутавр, уголок, швеллер.

                .s-about__services
                  .row
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Купить металлопрокат', 'img/kupit-metalloprokat.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Металлоконструкции', 'img/metallokonstruktsii.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Нержавеющий металлопрокат', 'img/nerzhaveyushchij-metalloprokat.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Купить металлопрокат', 'img/kupit-metalloprokat.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Металлоконструкции', 'img/metallokonstruktsii.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Нержавеющий металлопрокат', 'img/nerzhaveyushchij-metalloprokat.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Купить металлопрокат', 'img/kupit-metalloprokat.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Металлоконструкции', 'img/metallokonstruktsii.jpg')
                    .col-.col-sm-6.col-lg-4
                      +simple-card('Купить металлопрокат', 'img/kupit-metalloprokat.jpg')
                p.
                  Также мы реализуем черный металлопрокат специальных типов, например судостроительную сталь. Вы можете ознакомиться с точным ассортиментом и ценами в наших прайс-листах. Объемы закупки могут быть любыми: от нескольких сотен килограмм арматуры для частного строительства, до крупнооптовых поставок в десятки и сотни тонн. В любом случае мы берем на себя подбор транспорта для доставки, а также проведение погрузочно-разгрузочных работ. Мы принимаем к оплате безналичные платежи. С нами работать удобно и выгодно.

                +form()
                  +fieldset('Оставьте заявку на расчёт стоимости черного металлопроката')
                    .row
                      .col-.col-md-5
                        +field-text({
                          attrs: {
                            placeholder: 'Введите имя'
                          }
                        }).s-field-text--name
                        +field-text({
                          attrs: {
                            placeholder: 'Введите телефон'
                          }
                        }).s-field-text--phone
                        +field-text({
                          attrs: {
                            placeholder: 'Введите email'
                          }
                        }).s-field-text--e-mail
                      .col-.col-md-7
                        .row
                          .col-12
                            +field-text({
                              isTextarea: true,
                              mods: '',
                              attrs: {
                                name: 'test',
                                placeholder: 'Текст сообщения',
                              }
                            })
                          .col-4.align-self-center
                            .s-field-file
                              label.s-field-file__input-wrap
                                input.s-field-file__input(type='file')
                                .s-field-file__image.s-field-file__image--blue
                          .col-8.align-self-end
                            +field-actions()
                              +btn('Отправить заявку')

                p.
                  Почти весь черный металлопрокат изготавливается из мягкой конструкционной стали У3. Она обладает большой устойчивостью к нагрузкам ударного типа, не склонна к образованию трещин (в отличие от закаленной инструментальной) и хорошо сваривается. При поставке с завода металлопрокат частично защищен технологической смазкой. Проведение мероприятий антикоррозийной защиты рекомендуется сразу после монтажа металлоконструкции. Многие из этих операций вы тоже можете заказать у нашей компании. Подробнее смотрите в разделе «металлообработка – услуги».
  +feedback()
  +main-nav()
  +useful-links()

block footer
  +page-footer()