extends pug/layout.pug

block meta
  - var title = 'Главная';
  title= title
  meta(name='description', content='')

block header
  +main-nav()
  +page-header()

block content

  +promo()

  .s-tabs
    .s-tabs__nav
      .container
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a#metal-tab.nav-link.active(data-toggle='tab', href='#metal', role='tab', aria-controls='metal', aria-selected='true') Металл
          li.nav-item
            a#black-tab.nav-link(data-toggle='tab', href='#black', role='tab', aria-controls='black', aria-selected='false') Черный металлопрокат
          li.nav-item
            a#colored-tab.nav-link(data-toggle='tab', href='#colored', role='tab', aria-controls='colored', aria-selected='false') Цветной металлопрокат
          li.nav-item
            a#stainless-tab.nav-link(data-toggle='tab', href='#stainless', role='tab', aria-controls='stainless', aria-selected='false') Нержавеющий металлопрокат
          li.nav-item
            a#services-tab.nav-link(data-toggle='tab', href='#services', role='tab', aria-controls='services', aria-selected='false') Услуги
          li.nav-item
            a#constructions-tab.nav-link(data-toggle='tab', href='#constructions', role='tab', aria-controls='constructions', aria-selected='false') Металлоконструкции
          li.nav-item
            a#gates-tab.nav-link(data-toggle='tab', href='#gates', role='tab', aria-controls='gates', aria-selected='false') Ворота
    .s-tabs__content
      .container
        .tab-content
          #metal.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='metal-tab')
            .row
              .col-.col-sm-6.col-md-4.col-lg-3
                +simple-card('Купить металлопрокат', 'img/kupit-metalloprokat.jpg')
              .col-.col-sm-6.col-md-4.col-lg-3
                +simple-card('Металлоконструкции', 'img/metallokonstruktsii.jpg')
              .col-.col-sm-6.col-md-4.col-lg-3
                +simple-card('Нержавеющий металлопрокат', 'img/nerzhaveyushchij-metalloprokat.jpg')
              .col-.col-sm-6.col-md-4.col-lg-3
                +simple-card('Листовой металлопрокат', 'img/listovoy-metalloprokat.jpg')
          #black.tab-pane.fade(role='tabpanel', aria-labelledby='black-tab') 2
          #colored.tab-pane.fade(role='tabpanel', aria-labelledby='colored-tab') 3
          #stainless.tab-pane.fade(role='tabpanel', aria-labelledby='stainless-tab') 4
          #services.tab-pane.fade(role='tabpanel', aria-labelledby='services-tab') 5
          #constructions.tab-pane.fade(role='tabpanel', aria-labelledby='constructions-tab') 6
          #gates.tab-pane.fade(role='tabpanel', aria-labelledby='gates-tab') 7

  +right-choice()

  .s-feedback(style='background-image: url(../img/zayavka_bg.jpg);')
    .container
      .row.align-items-center
        .col-.col-md-8
          +form()
            +fieldset('Оставьте заявку на расчёт стоимости поставки металлопроката')
              .row
                .col-.col-md-5
                  +field-text({
                    attrs: {
                      placeholder: 'Введите имя'
                    }
                  }).s-field-text--name
                  +field-text({
                    attrs: {
                      placeholder: 'Введите телефон'
                    }
                  }).s-field-text--phone
                  +field-text({
                    attrs: {
                      placeholder: 'Введите email'
                    }
                  }).s-field-text--e-mail
                .col-.col-md-7
                  .row
                    .col-12
                      +field-text({
                        isTextarea: true,
                        mods: '',
                        attrs: {
                          name: 'test',
                          placeholder: 'Текст сообщения',
                        }
                      })
                    .col-4.align-self-center
                      .s-field-file
                        label.s-field-file__input-wrap
                          input.s-field-file__input(type='file')
                          .s-field-file__image
                    .col-8.align-self-end
                      +field-actions()
                        +btn('Отправить заявку')
        .col-.col-md-4
          .s-feedback__info
            ul.s-feedback__info-list
              li.s-feedback__info-item
                span.s-feedback__desc Звоните на телефон
                span.s-feedback__icon.zayavka-phone
                a(href='tel:88123096866') +7 812 309 68 66
              li.s-feedback__info-item
                span.s-feedback__desc Или напишите нам на почту
                span.s-feedback__icon.e-mail
                a(href='mailto:zakaz@pk-rm.ru') zakaz@pk-rm.ru

  +benefit()
  +partners()
  +feedback()
  nav.s-main-nav
    .container
      ul.s-main-nav__list
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Главная
        li.s-main-nav__item
          a.s-main-nav__link(href='/') О компании
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Продукция
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Металлообработка
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Прайс-лист
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Логистика
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Расчет
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Контакты
  +useful-links()

block footer
  +page-footer()