extends pug/layout.pug

block meta
  - var title = 'Металлоконструкции';
  title= title
  meta(name='description', content='')

block header
  +main-nav()
  +page-header()

block content
  +calculate-the-price()
  +manufacture-and-installation()
  +metallokonstruktsii-seo()
  +customers-choose-us()
  +completed-projects()
  +additional-info()
  +we-can-help-you()
  +russian-steel()
  +partners()
  +feedback()
  nav.s-main-nav
    .container
      ul.s-main-nav__list
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Главная
        li.s-main-nav__item
          a.s-main-nav__link(href='/') О компании
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Продукция
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Металлообработка
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Прайс-лист
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Логистика
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Расчет
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Контакты
  +useful-links()

block footer
  +page-footer()