extends pug/layout.pug

block meta
  - var title = 'Трубы ППУ';
  title= title
  meta(name='description', content='')

block header
  +main-nav()
  +page-header()

block content

  .s-info-layout
    .container
      .row
        .col-.col-sm-4
          .s-info-layout__aside
            +main-aside()

        .col-.col-sm-8
          .s-info-layout__content
            +breadcrumb()
              +breadcrumb-item('Главная', '/home')
              +breadcrumb-item('Трубы ППУ')

            section.s-about
              h1.s-about__title Трубы ППУ в Санкт-Петербурге
              .s-about__text
                img(src='img/truby-ppu-v-spb.jpg', alt='', style='float: right; margin: 0 0 10px 10px; width: 283px; height: auto')
                p.
                  Черный металлопрокат занимает основную долю выпуска всего металлопроката. Он имеет широкое применение в строительстве зданий, коммуникационных сетей, трубопроводов, рельсовых путей. Мы реализуем все основные виды черного проката от ведущих металлургических комбинатов: НЛМК (около 20% выпуска стали в РФ), Северсталь, ОМК, ЧТПЗ. Прямые поставки от производителя гарантируют низкую цену и высокое качество продукции. Весь реализуемый прокат соответствует требованиям ГОСТ, что допускает его применение в самых ответственных областях строительства.
                p.
                  Наибольшим спросом пользуются следующие виды:

                ol
                  li для подземной прокладки – трубы в оцинкованной оболочке;
                  li для наземной прокладки – трубы в полиэтиленовой оболочке.

                p.
                  Все трубы изготавливаются с использованием современных технологий, а также из самых качественных материалов. Они имеют высокую антикоррозийную стойкость. Чтобы купить трубы ППУ в Санкт-Петербурге, вы можете оставить заявку на сайте или заказать звонок.

                +form()
                  +fieldset('Оставьте заявку на расчет стоимости труб ППУ')
                    .row
                      .col-.col-md-5
                        +field-text({
                          attrs: {
                            placeholder: 'Введите имя'
                          }
                        }).s-field-text--name
                        +field-text({
                          attrs: {
                            placeholder: 'Введите телефон'
                          }
                        }).s-field-text--phone
                        +field-text({
                          attrs: {
                            placeholder: 'Введите email'
                          }
                        }).s-field-text--e-mail
                      .col-.col-md-7
                        .row
                          .col-12
                            +field-text({
                              isTextarea: true,
                              mods: '',
                              attrs: {
                                name: 'test',
                                placeholder: 'Текст сообщения',
                              }
                            })
                          .col-4.align-self-center
                            .s-field-file
                              label.s-field-file__input-wrap
                                input.s-field-file__input(type='file')
                                .s-field-file__image.s-field-file__image--blue
                          .col-8.align-self-end
                            +field-actions()
                              +btn('Отправить заявку')

                h3.s-about__subtitle Почему трубы ППУ покупают в ООО «Русский Металл»

                p.
                  Наша компания стабильно развивается и мы можем предложить Вам интересные условия сотрудничества, которые делают сотрудничество с нами выгодным и перспективным:
                ul
                  li Мы сотрудничаем с крупнейшими производителями труб ППУ в России;
                  li Стабильно развиваемся в течение 5-ти лет;
                  li Вы можете оплатить через наличный и безналичный расчет;
                  li Рассчитаем стоимость необходимой продукции в течении 10-15 минут.

  +feedback()
  +main-nav()
  +useful-links()

block footer
  +page-footer()