extends pug/layout.pug

block meta
  - var title = 'Откатные ворота';
  title= title
  meta(name='description', content='')

block header
  +main-nav()

  .s-mobile-landing-header
    +logo('/')
    a.s-mobile-landing-header__phone(href='tel:+78123096866') 8 (812) 309-68-66
    .s-mobile-landing-header__burger

  .s-mobile-landing-nav
    ul.s-mobile-landing-nav__list
      li.s-mobile-landing-nav__item
        a.s-mobile-landing-nav__link(href='/') Главная
      li.s-mobile-landing-nav__item
        a.s-mobile-landing-nav__link(href='/') Расчет
      li.s-mobile-landing-nav__item
        a.s-mobile-landing-nav__link(href='/') Продукция
      li.s-mobile-landing-nav__item
        a.s-mobile-landing-nav__link(href='/') Услуги
      li.s-mobile-landing-nav__item
        a.s-mobile-landing-nav__link(href='/') Акции
      li.s-mobile-landing-nav__item
        a.s-mobile-landing-nav__link(href='/') Фото
      li.s-mobile-landing-nav__item
        a.s-mobile-landing-nav__link(href='/') Контакты

  header.s-landing-page-header(class=allMods, role='banner')&attributes(attributes)
    .container
      .s-landing-page-header__inner
        +logo('/')
        .s-landing-page-header__title
          | Изготовление и монтаж
          b  откатных (сдвижных) ворот
          |  от производителя с гарантией качества по договору
        .s-landing-page-header__contacts
          ul.s-landing-page-header__contact-list
            li
              span.s-landing-page-header__contact-icon.phone
              a(href='tel:+78123096866') 8 (812) 309-68-66
            li
              +btn('Заказать расчет на e-mail')
            li
              span.s-landing-page-header__contact-icon.e-mail
              a(href='mailto:zakaz@pk-rm.ru') zakaz@pk-rm.ru

block content
  section.s-calculate-the-price(style='background-image: url(../img/calc_bg-gates.jpg)')
    .container
      .s-h1.s-calculate-the-price__title
        | Расчитайте стоимость
        br
        span  откатных ворот
        |  в 3 шага

      .s-calculate-the-price__form
        +calculate-form()



  mixin product-item()
    li.s-our-products__item
      .s-our-products__item-title Каркас откатных ворот под зашивку
      .s-our-products__item-img(style='background-image: url(../img/c850008f9145fd41cdfa8d0dd14e4631.jpg)')(data-toggle='modal', data-target='#exampleModal')
      +btn('Подробнее')(data-toggle='modal', data-target='#exampleModal')

  section.s-our-products
    .container
      .s-our-products__title Наша продукция
      ul.s-our-products__list
        +product-item()
        +product-item()
        +product-item()
        +product-item()
        +product-item()
        +product-item()
        +product-item()
        +product-item()
        +product-item()
      .s-our-products__info
        .s-our-products__subtitle Откатные ворота
        p Заказать откатные ворота теперь можно легко и удобно. Для этого достаточно обратиться в нашу компанию "Русский Металл"! Мы предлагаем по пригородам и Санкт-Петербургу сдвижные ворота из различных материалов - металлический профиль, оцинкованная сетка, стальные решетки, кованые элементы. При заказе продукции предоставляется бесплатный предварительный замер, доставка на адрес Заказчика. При правильном монтаже воротных створок конструкция отличается надежностью и долговечностью. Покупайте откатные ворота только у качественных поставщиков!
        p Если Вы желаете купить сдвижные ворота (они же откатные ворота) для своего участка - наша организация готова прийти на помощь! В ассортименте фирмы имеются сдвижные ворота нескольких типов, в том числе - снабженные механическим или электрическим приводом, автоматическими системами. Специалисты компании организуют все необходимые строительно-монтажные работы с нулевого цикла, включая откопку траншеи и заливку фундамента. Опытные профессионалы быстро и надежно установят откатные ворота в СПб или на территории Ленобласти. Чтобы оставить заявку на замер откатных ворот - позвоните нам по телефону или заполните заявку на обратный звонок!



  mixin reason(term, desc, image)
    li.s-why-choose-us__reason
      figure.s-why-choose-us__reason-inner
        .s-why-choose-us__reason-cover
          img(src=image, alt='/')
        figcaption.s-why-choose-us__reason-caption
          dl
            dt.s-why-choose-us__reason-term #{term}
            dl.s-why-choose-us__reason-desc #{desc}

  section.s-why-choose-us
    .container
      .s-why-choose-us__title Почему ворота заказывают у нас?
      ul.s-why-choose-us__reasons
        +reason('Гарантия', 'По договору на все изделия и виды наших работ от 1 года!', 'img/why-1.png')
        +reason('Доставка', 'У нас лучшие цены на доставку продукции по Санкт-Петербургу и Лен. области. На спецтраспорте мы бережно и быстро привезем ваш заказ.', 'img/why-2.png')
        +reason('Профессиональный монтаж', 'Установка и монтаж продукции производится опытными рабочими.', 'img/why-3.png')
        +reason('Индивидуальный подход', 'Предложим наилучший вариант с учетом Ваших пожелай и размера Вашего бюджета.', 'img/why-4.png')
        +reason('Порошковая окраска', 'Вся продукция покрывается полимерным покрытием с высокой механическим стойкостью, которая прекрасно справляется с защитой всех наших изделий.', 'img/why-5.png')
        +reason('Выезд замерщика', 'Вы можете вызвать замерщика на объект и получить от него не только точный замер, но и профессиональную консультацию.', 'img/why-6.png')
        +reason('Особые условия для строительных компаний', 'Сотрудники на выгодных условиях.', 'img/why-7.png')
      +form().s-why-choose-us__form
        .s-why-choose-us__form-title
          | Оставьте заявку на расчет стоимости по Вашему заказу
        .s-why-choose-us__form-desc
          | Мы перезвоним Вам в течение 5 минут и сделаем расчет в реальном времени
        +field-text({
          attrs: {
            placeholder: 'Телефон'
          }
        })
        +field-actions()
          +btn('Подать заявку')

  section.s-advantage
    .container
      .s-advantage__inner
        .s-advantage__title Собственное производство
        ul.s-advantage__list
          li.s-advantage__item Не зависим от сторонних поставщиков.
          li.s-advantage__item Предлагаем цены на 10% ниже рыночных.
          li.s-advantage__item Усиленный контроль качества продукции.
          li.s-advantage__item Производим ворота по вашим размерам.



  mixin service-item()
    li.s-our-services__item
      .s-our-services__item-title title
      .s-our-services__item-img(style='background-image: url(../img/d575a74264a06b564b6e34176a2a1241.jpg)')(data-toggle='modal', data-target='#exampleModal')
      +btn('Подробнее')(data-toggle='modal', data-target='#exampleModal')

  section.s-our-services
    .container
      .s-our-services__title Наши услуги
      ul.s-our-services__list
        +service-item()
        +service-item()
        +service-item()
        +service-item()
        +service-item()
        +service-item()
        +service-item()
        +service-item()
      .s-our-services__info
        .s-our-services__subtitle Откатные ворота
        p Заказать откатные ворота теперь можно легко и удобно. Для этого достаточно обратиться в нашу компанию "Русский Металл"! Мы предлагаем по пригородам и Санкт-Петербургу сдвижные ворота из различных материалов - металлический профиль, оцинкованная сетка, стальные решетки, кованые элементы. При заказе продукции предоставляется бесплатный предварительный замер, доставка на адрес Заказчика. При правильном монтаже воротных створок конструкция отличается надежностью и долговечностью. Покупайте откатные ворота только у качественных поставщиков!
        p Если Вы желаете купить сдвижные ворота (они же откатные ворота) для своего участка - наша организация готова прийти на помощь! В ассортименте фирмы имеются сдвижные ворота нескольких типов, в том числе - снабженные механическим или электрическим приводом, автоматическими системами. Специалисты компании организуют все необходимые строительно-монтажные работы с нулевого цикла, включая откопку траншеи и заливку фундамента. Опытные профессионалы быстро и надежно установят откатные ворота в СПб или на территории Ленобласти. Чтобы оставить заявку на замер откатных ворот - позвоните нам по телефону или заполните заявку на обратный звонок!

  section.s-installation-methods
    .container
      .s-installation-methods__title Варианты установки фундамента для ворот:
      .s-installation-methods__desc Наши специалисты помогут Вам сэкономить, професионально проконсультировав относительно оптимального метода установки, исходя из особенностей грунта на объекте.

  section.s-projects-gallery
    .container
      .s-projects-gallery__title Фото наших работ
      .swiper-container.s-projects-gallery__slider
        .swiper-wrapper
          .swiper-slide
            .s-projects-gallery__item
              img(src='img/1.jpg', alt='')
          .swiper-slide
            .s-projects-gallery__item
              img(src='img/2.jpg', alt='')
          .swiper-slide
            .s-projects-gallery__item
              img(src='img/3.jpg', alt='')
        .swiper-button-next
        .swiper-button-prev


  mixin additional-item()
    li.s-additional-products__item
      a(href='/')
        figure.s-additional-products__item-figure
          .s-additional-products__item-cover(style='background-image: url(../img/bab9fa5ececb692ccdf07720d61a8696.jpg)')
          figcaption.s-additional-products__item-caption Кованые ворота

  section.s-additional-products
    .container
      .s-additional-products__title Также мы изготавливаем следующие изделия
      ul.s-additional-products__list
        +additional-item()
        +additional-item()
        +additional-item()
        +additional-item()
        +additional-item()
        +additional-item()
        +additional-item()
        +additional-item()

  section.s-special-offer
    .container
      .s-special-offer__title Акция!
      .s-special-offer__desc Оставьте заявку на изготовление ворот и получите:
      .s-special-offer__inner
        .s-special-offer__benefits
          .s-special-offer__benefit
            .s-special-offer__benefit-if
              | При заказе
              span ворот
            .s-special-offer__benefit-cover
              img(src='img/tumblr_otmvmowWiH1qze888o1_1280.jpg', alt='')
            .s-special-offer__offer Бесплатный вызов замерщика
            +btn('Узнать подробнее')
          .s-special-offer__benefit
            .s-special-offer__benefit-if
              | При заказе
              span автоматики
            .s-special-offer__benefit-cover
              img(src='img/tumblr_otmvmowWiH1qze888o1_1280.jpg', alt='')
            .s-special-offer__offer Третий пульт управления в подарок!
            +btn('Узнать подробнее')
        .s-special-offer__form
          +form()
            +field-text({
              attrs: {
                placeholder: 'Имя'
              }
            }).s-field-text--name
            +field-text({
              attrs: {
                placeholder: 'Телефон'
              }
            }).s-field-text--phone
            +field-actions()
              +btn('Отправить заявку')



  .s-addresses
    .container
      .row
        .col-.col-md-6
          .s-addresses__title Офис компании
          .s-addresses__address г. Санкт-Петербург, проспект Юрия Гагарина, дом 1, офис 207
          a.s-addresses__phone(href='tel:+78123096866') 8 (812) 309-68-66
          .s-addresses__map
        .col-.col-md-6
          .s-addresses__title Адрес произодства
          .s-addresses__address г. Красное Село, улица Геологическая, дом 55
          a.s-addresses__phone(href='tel:+78123096866') 8 (812) 309-68-66
          .s-addresses__map
      .s-addresses__seo
        .s-addresses__subtitle Производство откатных ворот
        p Производственно-торговая компания "Русский Металл" занимается изготовлением откатных ворот на заказ (а также поставками металлопроката, трубопроката, легких металлоконструкций и другими услугами, связанными с обработкой металла). Мы предоставляем качественные откатные ворота от производителя, производим строительные и монтажные работы. В нашей фирме Вы можете приобрести всю необходимую воротную фурнитуру, приводы и автоматику с системами дистанционного управления. Компания обладает собственным производством и складами в Ленинградской области. Доставляем готовую продукцию до адреса Покупателя на быстрых бортовых автомашинах. Строительным компаниям предоставляется скидка!
        p "Русский Металл" - это красивые и надежные сдвижные ворота, а также - производство откатных ворот из прочных материалов по оптимальным рыночным расценкам. Лучшая рекомендация на наши откатные ворота - отзывы Клиентов! Если Вы не нашли подходящих ворот на сайте фирмы - позвоните нашим менеджерам, и мы постараемся подобрать вариант с учетом Ваших пожеланий или изготовить их по индивидуальному заказу. Обращайтесь к квалифицированным профессионалам, чтобы приобрести все виды металлических ограждений для Вашей производственной территории или садового участка!

  +feedback()
  nav.s-main-nav
    .container
      ul.s-main-nav__list
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Главная
        li.s-main-nav__item
          a.s-main-nav__link(href='/') О компании
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Продукция
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Металлообработка
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Прайс-лист
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Логистика
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Расчет
        li.s-main-nav__item
          a.s-main-nav__link(href='/') Контакты
  +useful-links()
  +simple-modal()

block footer
  +page-footer()