mixin completed-projects()

  .s-completed-projects
    .container
      .s-h2.s-completed-projects__title Наши выполненные работы
      .row
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_1.jpg'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_emkost_1.jpg'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_variant-metallicheskoj-besedki-svoimi-rukami-iz-profnastila.png'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_prochnaya-narujnaya-lestnica-iz-metalla.jpg'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_5.jpeg'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_6.jpg'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_7.jpeg'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_foto8.jpg'
          )
        .col-12.col-sm-6.col-md-4
          +completed-projects-item(
            'img/phoca_thumb_m_91.jpg'
          )

mixin completed-projects-item(img)

  a.s-completed-projects__item(href='/')
    .s-completed-projects__info
      span.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nostrum, soluta quibusdam in, fuga aliquid.
    .s-completed-projects__cover
      img(src=img, alt='')