.s-completed-projects {

  &__title {
    font-size: 30px;
    font-weight: normal;
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  &__info {
    font-size: 14px;
    background: transparent;
    color: #fff;
    height: 180px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: all 300ms ease-in-out 0s;

    span {
      transform: translate3d(0,20px,0);
      transition: all 300ms ease-in-out 0s;
      opacity: 0;
    }
  }

  &__cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 300ms ease-in-out 0s;
    }
  }

  &__item {
    position: relative;
    display: block;
    margin-bottom: 30px;

    &:hover,
    &:focus {

      .s-completed-projects__info {
        background: rgba(37, 97, 163, 0.8);

        span {
          transform: translate3d(0,0,0);
          opacity: 1;
        }
      }

      .s-completed-projects__cover {

        > img {
          transform: scale(1.5) rotate(6deg);
        }
      }
    }
  }
}